@use "@mc-plus/theme/mixins.scss" as mixin;

$border_color: var(--mc-gray-400);
$border_color_hover: var(--mc-gray-800);
$divider_color: var(--mc-gray-400);

@mixin actived-border {
  border-color: $border_color_hover;
  outline: 1px solid $border_color_hover;
}

.mc-input-group {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  border-radius: 4px;
  @include mixin.flex-center();

  :deep(.mc-input) {
    border: none !important;
    outline: none !important;
  }
  :deep(.mc-select) .mc-select-trigger {
    border: none !important;
    outline: none !important;
  }

  .mc-input-group-divider {
    width: 0;
    height: 100%;
    position: relative;
    &::before {
      content: "";
      height: 60%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-left: 1px solid $border_color;
    }
  }

  .mc-input-group-prefix {
    height: 100%;
    border: 1px solid $border_color;
    border-right-color: transparent;
    box-sizing: border-box;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;

    &.mc-input-group-prefix-actived {
      @include actived-border;
    }

    &.mc-input-group-prefix-expanded {
      border-bottom-left-radius: 0;
    }
  }

  .mc-input-group-suffix {
    height: 100%;
    border: 1px solid $border_color;
    border-left-color: transparent;
    box-sizing: border-box;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

    &.mc-input-group-suffix-actived {
      @include actived-border;
    }

    &.mc-input-group-suffix-expanded {
      border-bottom-right-radius: 0;
    }
  }
}
