/* flex center */
@mixin flex-center(
  $direction: row,
  $justify: center,
  $align: center,
  $gap: 0,
  $inline: false
) {
  display: if($inline, inline-flex, flex);
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

/* font style */
@mixin font-style(
  $size: 16px,
  $weight: 400,
  $line-height: 24px,
  $color: var(--mc-gray-800)
) {
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
  color: $color;
}

/* shadow */
@mixin shadow {
  $shadow-color: var(--mc-gray-200);
  box-shadow: 0 4px 8px $shadow-color;
}

/* title */
@mixin title($direction: to right) {
  background: linear-gradient(
    $direction,
    var(--mc-purple-200),
    var(--mc-teal-900)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block; // 确保渐变效果生效
}

/* mask color */
@mixin mask-color {
  background-color: rgba(#211050, 0.2);
}

/* reset ul style */
@mixin reset-ul-style {
  margin: 0;
  padding: 0;
}

/* reset li style */
@mixin reset-li-style {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* reset input style */
@mixin reset-input-style {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

/* reset p style */
@mixin reset-p-style {
  margin: 0;
  padding: 0;
}

/* reset i style */
@mixin reset-i-style {
  font-style: normal;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

/* reset number input style */
@mixin reset-number-input-style {
  @include reset-input-style;
  appearance: textfield;
  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &:focus {
    appearance: textfield;
    -moz-appearance: textfield;
  }

  &:focus::-webkit-outer-spin-button,
  &:focus::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
