body {
  font-family: var(--mc-font-family);
  font-weight: 400;
  font-size: var(--mc-font-size-base);
  /* line-height: calc(var(--er-font-size-base) * 1.2); */
  color: var(--mc-gray-800);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}
