$bg_color_bold: var(--mc-purple-500);
$bg_color_minimal: var(--mc-purple-50);
$bg_color_subtle: var(--mc-white);
$bg_color_disabled: var(--mc-gray-400);
$bg_color_disabled_subtle: var(--mc-white);
$text_color_bold: var(--mc-white);
$text_color_minimal: var(--mc-purple-500);
$text_color_subtle: var(--mc-purple-500);
$text_color_disabled: var(--mc-white);
$text_color_disabled_subtle: var(--mc-gray-400);

.mc-tag {
}
