$unsuccess_line_color: var(--mc-gray-400);
$success_line_color: var(--mc-success);

.mc-step-vertical {
  position: relative;

  .mc-step-item {
    display: flex;
    gap: 10px;
    min-height: 56px;

    .mc-step-item-content {
      flex: 1;
    }

    .mc-step-item-label,
    .mc-step-item-desc {
      justify-content: left;
    }
  }

  .mc-step-item-component {
    margin-bottom: 24px;
  }

  .mc-step-line {
    position: absolute;
    height: calc(100% - 24px);
    top: 0;
    left: 20px;

    &.mc-step-unsuccess-line {
      border: 1.5px solid transparent;
      border-image: repeating-linear-gradient(
          to bottom,
          $unsuccess_line_color 0,
          $unsuccess_line_color 4px,
          transparent 4px,
          transparent 8px
        )
        1;

      .mc-step-success-line {
        position: absolute;
        height: 100%;
        left: -1.5px;
        border: 1.5px solid $success_line_color;
        z-index: 10;
        transition: transform 0.5s ease-in-out;
        transform-origin: top;
        transform: scaleY(0);
      }
    }
  }
}
