@use "@mc-plus/theme/mixins.scss" as mixins;

$text_color: var(--mc-gray-500);
$text_color_desc: var(--mc-gray-800);
$text_color_active: var(--mc-purple-500);
$text_color_success: var(--mc-success);
$text_color_disabled: var(--mc-gray-500);
$bg_color: var(--mc-gray-200);
$bg_color_active: var(--mc-purple-500);
$bg_color_success: var(--mc-success);
$bg_color_disabled: var(--mc-gray-100);
$bg_color_white: var(--mc-white);
$number_color: var(--mc-gray-800);
$number_color_active: var(--mc-white);
$number_color_disabled: var(--mc-gray-500);

.mc-step {
  h3,
  p {
    margin: 0;
    padding: 0;
    font-size: inherit;
    color: inherit;
    font-weight: inherit;
  }

  .mc-step-number-container {
    position: relative;
    width: 40px;
    height: 40px;
  }

  .mc-step-item-number {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: $bg_color_white;
    color: $number_color;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    cursor: default;
    @include mixins.flex-center;
    @include mixins.shadow;

    .mc-step-item-number-text {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      background-color: $bg_color;
      font-weight: 600;
      font-size: 14px;
      @include mixins.flex-center;
    }
  }

  .mc-step-item-label {
    width: 100%;
    height: 24px;
    font-weight: 600;
    font-size: 16px;
    color: $text_color;
    @include mixins.flex-center;
  }

  .mc-step-item-desc {
    font-size: 14px;
    color: $text_color_desc;
    width: 100%;
    height: 20px;
    @include mixins.flex-center;
  }

  .mc-step-item {
    /* active */
    &.mc-step-item-active {
      .mc-step-item-number {
        background-color: $bg_color_active;
        color: $number_color_active;
        .mc-step-item-number-text {
          background-color: $bg_color_active;
        }
      }

      .mc-step-item-label {
        color: $text_color_active;
      }
    }

    /* success */
    &.mc-step-item-success {
      .mc-step-item-number {
        background-color: $bg_color_success;
        color: $number_color_active;
        .mc-step-item-number-text {
          background-color: $bg_color_success;
        }
      }

      .mc-step-item-label {
        color: $text_color_success;
      }
    }

    /* disabled */
    &.mc-step-item-disabled {
      .mc-step-item-number {
        background-color: $bg_color_white;
        color: $number_color_disabled;
        .mc-step-item-number-text {
          background-color: $bg_color_disabled;
        }
      }

      .mc-step-item-label {
        color: $text_color_disabled;
      }
      .mc-step-item-desc {
        color: $text_color_disabled;
      }
    }

    .mc-step-item-component-enter-active {
      transition: transform 1s ease, opacity 0.3s ease;
      transform-origin: top;
      width: 100%;
    }

    .mc-step-item-component-enter-from {
      opacity: 0;
      transform: scaleY(0);
    }

    .mc-step-item-component-enter-to {
      opacity: 1;
      transform: scaleY(1);
    }
  }
}
