@use "@mc-plus/theme/mixins.scss" as mixin;

$border_color: var(--mc-gray-400);

.mc-select {
  .mc-select-list {
    @include mixin.reset-ul-style;
  }

  .mc-select-trigger {
    @include mixin.flex-center(row, space-between, center, 8px);
    padding: 0 8px;
    border: 1px solid $border_color;
    border-radius: 4px;
    box-sizing: border-box;

    .mc-select-input-wrapper {
      flex: 1;
      height: 100%;
      .mc-select-input {
        width: 100%;
        height: 100%;
        @include mixin.reset-input-style;
      }
    }

    .mc-select-chevron-icon {
      cursor: pointer;
    }
  }
}
