$text_color: var(--mc-gray-500);
$bg_color: var(--mc-gray-200);

ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
  }
}

.mc-select-group {
  width: 100%;
  .mc-select-group-label {
    width: 100%;
    height: 40px;
    padding: 0 8px;
    display: flex;
    align-items: center;
    background-color: $bg_color;
    color: $text_color;
    cursor: default;
    font-size: 14px;
    font-weight: 600;
  }
}
