/* variables */
$primary_color: var(--mc-teal-500);
$disabled_color: var(--mc-gray-200);
$unactive_color: var(--mc-gray-400);
$text_color: var(--mc-gray-700);
$text_white: var(--mc-white);
$text_disabled: var(--mc-gray-400);
$radius: calc(var(--mc-radius) * 2);
$transition_duration: var(--mc-transition-duration);
$height: 25px;

.mc-switch-wrapper {
  display: inline-flex;
  align-items: center;
}

.mc-switch {
  display: inline-flex;
  align-items: center;
  position: relative;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
}

.mc-switch-input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  margin: 0;
}

.mc-switch-core {
  box-sizing: border-box;
  padding: 0 24px;
  width: 72px;
  position: relative;
  height: $height;
  border-radius: $height;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $unactive_color;
  transition: all $transition_duration cubic-bezier(0.4, 0, 0.2, 1);

  &::after {
    content: "";
    position: absolute;
    left: 4px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $text_white;
    transition: all $transition_duration cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 2;
  }
}

.mc-switch.is-active .mc-switch-core {
  background-color: $primary_color;

  &::after {
    left: calc(100% - 20px);
  }
}

.mc-switch-input:active + .mc-switch-core::after {
  width: 22px;
  transform: scale(0.9);
}

.mc-switch.is-active .mc-switch-input:active + .mc-switch-core::after {
  left: calc(100% - 24px);
}

.mc-switch-label {
  margin-left: 8px;
  color: $text_color;
  transition: color $transition_duration;
}

.mc-switch.is-disabled .mc-switch-label {
  color: $text_disabled;
}

.mc-switch-text {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 16px;
  font-weight: 400;
  color: $text_white;
  z-index: 1;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity $transition_duration cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.mc-switch.is-active .mc-switch-text,
.mc-switch:not(.is-active) .mc-switch-text {
  opacity: 1;
}

.mc-switch:not(.is-disabled):hover .mc-switch-core {
  opacity: 0.85;
}

.mc-switch.is-disabled {
  cursor: not-allowed;
  .mc-switch-core {
    background-color: $disabled_color;
  }
}
