@use "@mc-plus/theme/mixins.scss" as mixin;

$text_color: var(--mc-teal-500);
$text_color_hover: var(--mc-teal-900);
$text_color_label: var(--mc-gray-500);
$text_color_error: var(--mc-error);
$text_color_info: var(--mc-black);

.mc-file-list {
  @include mixin.reset-ul-style;
  @include mixin.flex-center(column, flex-start, flex-start, 8px);
  width: 100%;

  .mc-file-list-item {
    @include mixin.reset-li-style;
    @include mixin.shadow;
    @include mixin.flex-center(row, flex-start, flex-start, 24px);
    width: 100%;
    min-height: 88px;
    padding: 16px;
    border-radius: 8px;
    box-sizing: border-box;
    cursor: default;

    .mc-file-list-item-info {
      @include mixin.flex-center(column, flex-start, flex-start, 8px);
      height: 100%;
      flex: 1;

      .mc-file-list-item-label {
        font-size: 14px;
        font-weight: 600;
        line-height: 24px;
        color: $text_color_label;
      }

      .mc-file-list-item-value {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: $text_color_info;
      }
    }

    .mc-file-list-item-file {
      .mc-file-list-item-file-name {
        @include mixin.flex-center(row, flex-start, flex-start, 4px);
        color: $text_color;
        cursor: pointer;

        &:hover {
          color: $text_color_hover;
        }

        .mc-file-list-item-file-name-text {
          font-size: 14px;
          font-weight: 600;
          line-height: 24px;
        }
      }

      .mc-file-list-item-file-desc {
        @include mixin.flex-center(row, flex-start, center, 4px);
        width: 100%;
        padding-left: 28px;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        color: $text_color_label;
        box-sizing: border-box;

        .mc-file-list-item-file-size-text {
          flex: 1;
          max-width: 60px;
        }

        .mc-file-list-item-file-progress-bar {
          flex: 1;
        }
      }
    }

    .mc-file-list-item-actions {
      @include mixin.flex-center(row, flex-end, flex-start, 4px);
      .mc-file-list-item-icon {
        color: $text_color;
        cursor: pointer;
        &:hover {
          color: $text_color_hover;
        }
      }
    }
  }
}
