@use "@mc-plus/theme/mixins.scss" as mixin;

$bg_color: rgba(#d7eceb80, 0.5);
// $bg_color_hover: ;
$border_color: var(--mc-teal-500);
$border_color_hover: var(--mc-teal-900);
$text_color: var(--mc-teal-500);
$text_color_hover: var(--mc-teal-900);
$desc_color: var(--mc-gray-500);

.mc-upload-dropzone {
  width: 100%;
  cursor: pointer;
  user-select: none;
  .mc-upload-dropzone-area {
    @include mixin.flex-center(column, center, center, 8px);
    width: 100%;
    min-height: 100px;
    padding: 16px 24px;
    border-radius: 4px;
    background-color: $bg_color;
    box-sizing: border-box;
    border: 1px solid $border_color;

    .mc-upload-dropzone-title {
      @include mixin.flex-center(row, center, center, 8px);
      color: $text_color;
      .mc-upload-dropzone-title-text {
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
      }
    }

    &:hover .mc-upload-dropzone-title {
      color: $text_color_hover;
      .mc-upload-dropzone-title-text {
        text-decoration: underline;
      }
    }

    .mc-upload-dropzone-desc {
      @include mixin.flex-center(column);
      color: $desc_color;
      font-size: 12px;
      line-height: 18px;
    }
  }
}
