$text-color: var(--mc-gray-500);
$text-color-error: var(--mc-error);

.mc-form-item {
  width: 100%;
  margin-bottom: 24px;
  position: relative;

  &.mc-form-item-horizontal {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
  }

  .mc-form-item-label-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    .mc-form-item-label {
      display: flex;
      align-items: center;
      gap: 8px;

      .mc-form-item-lable-text {
        position: relative;
        font-weight: 700;
        color: $text-color;
        font-size: 14px;

        &.mc-form-item-label-required {
          margin-right: 8px;
          &::after {
            content: "*";
            color: $text-color-error;
            position: absolute;
            right: -8px;
            top: 0;
          }
        }
      }
    }
  }

  .mc-form-item-desc {
    font-size: 12px;
    color: $text-color;
    margin-top: 4px;
  }

  .mc-form-item__content {
    width: 100%;
    margin-top: 8px;
    position: relative;
  }

  .mc-form-item__error {
    position: absolute;
    bottom: -20px;
    left: 0;
    color: $text-color-error;
    font-size: 12px;
  }

  .mc-form-item-error-enter-active,
  .mc-form-item-error-leave-active {
    transition: all 0.3s ease;
  }

  .mc-form-item-error-enter-from {
    opacity: 0;
    transform: translateY(-8px);
  }

  .mc-form-item-error-leave-to {
    opacity: 0;
    transform: translateY(-8px);
  }
}
