$duration: var(--mc-transition-duration);

.mc-tooltip {
  width: max-content;
  .mc-tooltip__trigger {
    width: max-content;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity $duration ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
