$bg_color_light: var(--mc-white);
$bg_color_dark: var(--mc-gray-600);
$text_color_light: var(--mc-gray-800);
$text_color_dark: var(--mc-white);
$icon_color: var(--mc-gray-400);

.mc-tooltip {
  .mc-tooltip-icon {
    cursor: pointer;
    color: $icon_color;
  }

  .mc-tooltip-content {
    width: fit-content;
    height: fit-content;
    box-sizing: border-box;
    padding: 12px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0px rgba(4, 20, 124, 0.15);
    font-size: 16px;
    font-weight: 400;

    // light theme
    &.mc-tooltip-content-light {
      background-color: $bg_color_light;
      color: $text_color_light;

      & + :deep(.mc-popper-arrow) {
        &::after {
          background-color: $bg_color_light;
          box-shadow: 0px 2px 4px 0px rgba(4, 20, 124, 0.15);
        }
      }
    }

    // dark theme
    &.mc-tooltip-content-dark {
      background-color: $bg_color_dark;
      color: $text_color_dark;

      & + :deep(.mc-popper-arrow) {
        &::after {
          background-color: $bg_color_dark;
          box-shadow: 0px 2px 4px 0px rgba(4, 20, 124, 0.15);
        }
      }
    }
  }
}
