@use "@mc-plus/theme/mixins.scss" as mixin;

$height: var(--mc-base-height);
$line_color: var(--mc-gray-200);
$gap: 24px;
$border_size: 1px;

.mc-collapse-item {
  width: 100%;
  position: relative;
  &::after {
    content: "";
    width: 100%;
    border-top: $border_size solid $line_color;
    position: absolute;
    bottom: -$border_size;
  }
  .mc-collapse-item-header {
    width: 100%;
    height: $height;
    box-sizing: border-box;
    @include mixin.flex-center(row, space-between);
    cursor: pointer;
  }

  .mc-collapse-item-wapper {
    padding: $gap 0;
    .mc-collapse-item-content {
    }
  }
}
