@use "../index.scss";

$unsuccess_line_color: var(--mc-gray-400);
$success_line_color: var(--mc-success);

.mc-step-horizontal {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  .mc-step-horizontal-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }

  .mc-step-horizontal-number-container {
    position: relative;
    width: 40px;
    height: 40px;

    .mc-step-horizontal-item-number {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      top: 0;
      left: 0;
      z-index: 99;
    }
  }

  .mc-step-horizontal-line {
    position: absolute;
    width: 100%;
    top: 20px;
    left: 0;

    &.mc-step-horizontal-unsuccess-line {
      border: 1.5px solid transparent;
      border-image: repeating-linear-gradient(
          to right,
          $unsuccess_line_color 0,
          $unsuccess_line_color 4px,
          transparent 4px,
          transparent 8px
        )
        1;

      .mc-step-horizontal-success-line {
        position: absolute;
        width: 100%;
        top: -1.5px;
        border: 1.5px solid $success_line_color;
        z-index: 10;
        transition: transform 0.5s ease-in-out;
        transform-origin: left;
        transform: scaleX(0);
      }
    }
  }
}
