.mc-tag {
  --mc-tag-primary: var(--mc-teal-500);
  --mc-tag-primary-hover: var(--mc-teal-900);
  --mc-tag-disabled-bg: var(--mc-gray-300);
  --mc-tag-disabled-text: var(--mc-gray-400);
  --mc-tag-dark-bg: var(--mc-black);

  --tag-color: var(--mc-tag-primary);
  --tag-hover-color: var(--mc-tag-primary-hover);
  --tag-text-color: #ffffff;
  --tag-hover-text-color: #fff;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0px 8px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease;
  gap: 4px;
  position: relative;
  font-weight: 400;
  box-sizing: border-box;

  .mc-tag__close-icon {
    font-size: 24px;

    &:hover {
      opacity: 0.8;
    }
  }
}

.mc-tag-radius--square {
  border-radius: 0px;
}
.mc-tag-radius--default {
  border-radius: 4px;
}

.mc-tag-radius--round {
  border-radius: 80px;
}

.mc-tag-radius--circle {
  border-radius: 50%;
}

.mc-tag--primary {
  background-color: var(--tag-color);
  color: var(--tag-text-color);

  &:hover:not(.is-disabled),
  &.is-selected {
    background-color: var(--tag-hover-color);
    color: var(--tag-hover-text-color);
  }
}

.mc-tag--plain {
  background-color: transparent;
  border: 1px solid var(--tag-color);
  color: var(--tag-color);

  &:hover:not(.is-disabled),
  &.is-selected {
    border: 1px solid var(--tag-hover-color);
    color: var(--tag-hover-color);
  }
}

.mc-tag--small {
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  .mc-tag__icon {
    font-size: 16px;
  }
}

.mc-tag--medium {
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  .mc-tag__icon {
    font-size: 16px;
  }
}

.mc-tag--large {
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  .mc-tag__icon {
    font-size: 24px;
  }
}

.is-disabled {
  cursor: not-allowed;
}

.mc-tag--primary.is-disabled {
  background-color: var(--mc-gray-400);
  color: #ffffff;
}

.mc-tag--plain.is-disabled {
  border-color: var(--mc-gray-400);
  color: var(--mc-gray-400);
}
