#mc-message-container {
  position: fixed;
  top: 20px;
  left: 50%;
  z-index: 9999;
  width: 100%;
  display: flex;
  pointer-events: none;
  flex-direction: column;
  align-items: center;
  transform: translateX(-50%);

  .mc-message-item {
    display: flex;
    justify-content: center;
  }
}

.mc-message {
  --mc-message-color: inherit;
  --mc-message-background: inherit;

  display: flex;
  min-width: 460px;
  max-width: 80%;
  padding: calc(var(--mc-gap) * 2) calc(var(--mc-gap) * 4);
  margin-bottom: 10px;
  border-radius: var(--mc-radius);
  background-color: var(--mc-message-background);
  transition: all var(--mc-transition-duration);
  align-items: center;
  justify-content: space-between;
  pointer-events: all;
  gap: 8px;

  $types: (
    success: var(--mc-success),
    info: var(--mc-info),
    warning: var(--mc-warning),
    error: var(--mc-error),
  );

  @each $type, $color in $types {
    &--#{$type} {
      --mc-message-color: #{$color};
      --mc-message-background: var(--mc-#{$type}-background);
    }
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__icon {
    font-size: 24px;
    flex-shrink: 0;
    color: var(--mc-message-color);
  }

  &__title {
    color: var(--mc-gray-800);
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }

  &__close {
    font-size: 16px;
    opacity: 0.8;
    margin-left: 8px;
    flex-shrink: 0;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}

// Animation
.mc-message-fade {
  &-enter-active,
  &-leave-active {
    transition: opacity var(--mc-transition-duration), transform var(--mc-transition-duration);
  }

  &-enter-from,
  &-leave-to {
    opacity: 0;
    transform: translateY(-20px);
  }
}
