/* 消息容器样式 */
#mc-message-container {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: none;
}

.mc-message-item {
  display: flex;
  justify-content: center;
}

/* 每个消息项的样式 */
.mc-message {
  margin-bottom: 10px;
  pointer-events: all;
  padding: calc(var(--mc-gap) * 2) calc(var(--mc-gap) * 4);
  border-radius: var(--mc-radius);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  background-color: var(--mc-white);
  min-width: 300px;
  max-width: 80%;
  transition: all var(--mc-transition-duration);
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__content {
    display: flex;
    align-items: center;
    flex: 1;
    overflow: hidden;
  }

  &__icon {
    margin-right: 8px;
    font-size: 16px;
    flex-shrink: 0;
  }

  &__text {
    flex: 1;
  }

  &__title {
    font-weight: 400;
    font-size: 16px;
    color: var(--mc-gray-800);
  }

  &__description {
    font-weight: 400;
    font-size: 14px;
    color: var(--mc-gray-800);
    margin-top: var(--mc-gap);
  }

  &__close {
    cursor: pointer;
    font-size: 16px;
    opacity: 0.8;
    margin-left: 8px;
    flex-shrink: 0;

    &:hover {
      opacity: 1;
    }
  }

  // Types
  &--success {
    .mc-message__icon {
      color: var(--mc-success);
    }
  }

  &--info {
    .mc-message__icon {
      color: var(--mc-info);
    }
  }

  &--warning {
    .mc-message__icon {
      color: var(--mc-warning);
    }
  }

  &--error {
    .mc-message__icon {
      color: var(--mc-error);
    }
  }
}

// Animation
.mc-message-fade-enter-active,
.mc-message-fade-leave-active {
  transition: opacity var(--mc-transition-duration), transform var(--mc-transition-duration);
}

.mc-message-fade-enter-from,
.mc-message-fade-leave-to {
  opacity: 0;
  transform: translateY(-20px);
}
