$primary_color: var(--mc-teal-500);
$primary_color_hover: var(--mc-teal-900);
$disabled_color: var(--mc-gray-300);
$text_white: var(--mc-white);
$text_disabled: var(--mc-gray-400);
$gap: var(--mc-gap);
$radius: var(--mc-radius);
$transition_duration: var(--mc-transition-duration);
$transform_distance: var(--mc-transform-distance);
$large_height: 24px; // 固定尺寸

.mc-radio {
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: $gap;
  position: relative;
  transition: transform $transition_duration;

  &:active:not(.is-disabled) {
    transform: translateY($transform_distance);
  }

  &__input {
    display: inline-flex;
    align-items: center;
    position: relative;
  }

  &__inner {
    display: inline-block;
    width: $large_height;
    height: $large_height;
    border: 1px solid $primary_color;
    border-radius: 50%;
    background: $text_white;
    transition: all $transition_duration;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 50%;
      height: 50%;
      border-radius: 50%;
      background: $text_white;
      transform: translate(-50%, -50%) scale(0);
      transition: all $transition_duration;
    }
  }

  &__original {
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
    margin: 0;
    z-index: -1;
  }

  &__label {
    padding-left: 8px;
    font-size: 14px;
    user-select: none;
    font-weight: 400;
    color: var(--mc-black);
    line-height: 20px;
  }

  &:hover:not(.is-disabled) &__inner {
    border-color: $primary_color_hover;
  }

  &.is-checked {
    .mc-radio__inner {
      background: $primary_color;
      &::after {
        transform: translate(-50%, -50%) scale(1);
      }
    }

    &:hover:not(.is-disabled) .mc-radio__inner {
      background: $primary_color_hover;
      border-color: $primary_color_hover;
    }
  }

  &.is-disabled {
    cursor: not-allowed;
    &:active {
      transform: none;
    }

    .mc-radio__inner {
      background: $disabled_color;
      border-color: $text_disabled;
    }

    .mc-radio__label {
      color: $text_disabled;
    }

    &.is-checked .mc-radio__inner::after {
      background: $text_white;
    }
  }
}
