@use "@mc-plus/theme/mixins.scss" as mixin;

$color_text: var(--mc-gray-500);
$color_text_desc: var(--mc-gray-400);

.mc-table-header-cell {
  @include mixin.reset-th-style;
  
  .mc-table-header-cell-wrapper {
    @include mixin.flex-center;
    width: 100%;
    height: 100%;
    padding: 8px;
    box-sizing: border-box;
  }

  .mc-table-header-cell-inner {
    @include mixin.flex-center($direction: column, $gap: 2px);

    .mc-table-header-cell-title {
      @include mixin.flex-center($justify: flex-start, $gap: 4px);

      .mc-table-header-cell-title-text {
        @include mixin.font-style(
          $size: 14px,
          $weight: 600,
          $color: $color_text
        );
      }
    }

    .mc-table-header-cell-desc {
      @include mixin.font-style(
        $size: 14px,
        $line-height: 20px,
        $color: $color_text_desc
      );
    }
  }
}
