@use "@mc-plus/theme/mixins.scss" as mixin;

$dot_color: var(--mc-gray-500);

.mc-table-ellipsis {
  @include mixin.reset-li-style;
  @include mixin.flex-center($gap: 4px);
  width: 40px;
  height: 40px;

  .mc-table-ellipsis-dot {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: $dot_color;
  }
}
