@use "@mc-plus/theme/mixins.scss" as mixin;

$border_color: var(--mc-gray-300);
$bg_color_expand: var(--mc-gray-100);

.mc-table-body {
  @include mixin.reset-table-style;
  width: 100%;
  table-layout: fixed;
  position: relative;
  min-height: 56px;

  .mc-table-body-tbody {
    @include mixin.reset-tbody-style;

    .mc-table-body-tr {
      vertical-align: middle;
      box-sizing: border-box;
      border-bottom: 1px solid $border_color;
    }

    .mc-table-body-expand-row {
      width: 100%;
      box-sizing: border-box;
      border-bottom: 1px solid $border_color;
      .mc-table-body-expand-row-cell {
        width: 100%;
        overflow: hidden;
      }
    }
  }

  .mc-table-body-colgroup {
    .mc-table-body-col {
      &.mc-table-body-col-expand {
        width: 40px;
      }
    }
  }
}
