.mc-alert {
  --mc-alert-color: inherit;
  --mc-alert-background: inherit;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--mc-radius);
  padding: 8px 16px;
  transition: opacity var(--mc-transition-duration), transform var(--mc-transition-duration);
  background-color: var(--mc-alert-background);

  &__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    height: 100%;

    .mc-alert__header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .mc-alert__header-left {
        display: flex;
        align-items: center;
        gap: 8px;

        .mc-alert__title {
          font-weight: 600;
          font-size: 22px;
          line-height: 30px;
        }
      }

      .mc-alert__icon {
        font-size: 24px;
        flex-shrink: 0;
        color: var(--mc-alert-color);
      }

      .mc-alert__close {
        font-size: 24px;
        cursor: pointer;
        opacity: 0.8;
        transition: opacity var(--mc-transition-duration);

        &:hover {
          opacity: 1;
        }
      }
    }

    .mc-alert__description {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: var(--mc-gray-800);
      margin-left: 32px;
    }
  }

  $types: (
    success: var(--mc-success-background),
    info: var(--mc-info-background),
    warning: var(--mc-warning-background),
    error: var(--mc-error-background),
  );

  @each $type, $color in $types {
    &--#{$type} {
      --mc-alert-color: var(--mc-#{$type});
      --mc-alert-background: #{$color};
    }
  }
}
