/* variables */
$primary_color: var(--mc-teal-500);
$primary_color_hover: var(--mc-teal-900);
$disabled_color: var(--mc-gray-300);
$text_white: var(--mc-white);
$text_disabled: var(--mc-gray-400);
$gap: var(--mc-gap);
$radius: var(--mc-radius);
$transition_duration: var(--mc-transition-duration);
$transform_distance: var(--mc-transform-distance);
$large_height: 64px;
$medium_height: 40px;
$small_height: 34px;

/* loading animation */
@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mc-button {
  /* reset */
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  line-height: inherit;
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  outline: none;
  box-sizing: border-box;

  /* common */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $gap;
  font-weight: 700;
  border-radius: $radius;
  transition: transform $transition_duration;
  &:active {
    transform: translateY($transform_distance);
  }

  /* medium */
  &.mc-button--medium {
    width: fit-content;
    height: $medium_height;
    padding: 15px 16px;
  }
  /* small */
  &.mc-button--small {
    width: fit-content;
    height: $small_height;
    padding: 12px 16px;
  }
  /* large */
  &.mc-button--large {
    width: fit-content;
    height: $large_height;
    padding: 27px 16px;
  }

  /* primary */
  &.mc-button--primary {
    background-color: $primary_color;
    color: $text_white;
    &:hover {
      background-color: $primary_color_hover;
    }
  }

  /* plain */
  &.mc-button--plain {
    border: 1px solid $primary_color;
    color: $primary_color;
    &:hover {
      border: 1px solid $primary_color_hover;
      color: $primary_color_hover;
    }
  }

  /* link */
  &.mc-button--link {
    color: $primary_color;
    &:hover {
      color: $primary_color_hover;
    }
  }

  /* loading */
  &.is-loading {
    .loading-icon {
      animation: loading 1s linear infinite;
    }
  }

  /* disabled */
  &.is-disabled {
    background-color: $disabled_color;
    color: $text_disabled;
    border: none;
    cursor: not-allowed;
    &:hover {
      background-color: $disabled_color;
      color: $text_disabled;
      transform: translateY(0);
      border: none;
    }
  }
}
